[submodule "lib/ssbm-1.03"]
	path = lib/ssbm-1.03
	url = https://github.com/AltimorTASDK/ssbm-1.03.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/bscanf"]
	path = lib/bscanf
	url = https://github.com/tusharjois/bscanf.git
[submodule "lib/dietlibc"]
	path = lib/dietlibc
	url = https://github.com/ensc/dietlibc.git
